img {
    max-width: 100%;
}
header nav a{
    color: red;
    font-weight: bold;
    text-decoration: none;
}
@media screen and (max-width:991px) {
    header nav a{
        color: red;
        font-weight: bold;
        text-decoration: none;
    }
}